{
    "extends": [ "wesbos/typescript" ],
    "rules": {
      "quotes": [
        "error",
        "double",
        {
          "avoidEscape": true,
          "allowTemplateLiterals": true
        }
      ],
	  "@typescript-eslint/quotes": "off",
	  "@typescript-eslint/indent": "off",
	  "space-in-parens": 1,
      "prettier/prettier": [
        "warn",
        {
          "singleQuote": false,
          "useTabs": true,
		  "bracketSpacing": true
        }
      ]
    },
	"plugins": ["html", "react-hooks"]
}