{
    "extends": [ "wesbos/typescript" ],
    "rules": {
      "quotes": [
        "error",
        "double",
        {
          "avoidEscape": true,
          "allowTemplateLiterals": true
        }
      ],
      "prettier/prettier": [
        "error",
        {
          "singleQuote": false,
          "useTabs": true
        }
      ]
    }
}